<report #rep/>
<nz-modal
  nzDraggable
  [nzWidth]="1000"
  nzTitle="Form edit"
  [(nzVisible)]="isVisible"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <nz-button-group class="table-operations">
      <button nz-button (click)="report(data[metaData.key])">
        <span nz-icon nzType="printer" nzTheme="outline"></span>report
      </button>
    </nz-button-group>
    <nz-divider></nz-divider>
    <form #form nz-form [formGroup]="formGroup">
      <nz-form-item *ngFor="let field of metaData.fields">
          <nz-form-label *ngIf="!field.hidden" [nzSm]="6" [nzXs]="24" [nzRequired]="field?.validation?.required" nzFor="{{field.name}}">{{ field.label }}</nz-form-label>
          <nz-form-control *ngIf="!field.hidden" [nzSm]="14" [nzXs]="24" [nzErrorTip]="field?.validation?.message">
            <div *ngIf="!field.hidden" [ngSwitch]="field.type.name">
              <ng-template ngSwitchCase="{{FieldTypeName.LOOKUP}}">
                <lookup-data formControlName="{{field.name}}" [row]="data" [field]="field"/>
              </ng-template>
              <ng-template ngSwitchCase="{{FieldTypeName.DATE}}">
                <nz-date-picker formControlName="{{field.name}}" nz-input id="{{field.name}}" nzFormat="{{field.type.format}}"/>
              </ng-template>
              <ng-template ngSwitchCase="{{FieldTypeName.NUMBER}}">
                <input formControlName="{{field.name}}" nz-input id="{{field.name}}" [readonly]="!field?.editable" [nzBorderless]="!field?.editable" type="number"/>
              </ng-template>
              <ng-template ngSwitchCase="{{FieldTypeName.TEXT}}">
                <textarea formControlName="{{field.name}}" nz-input id="{{field.name}}" [readonly]="!field?.editable" [nzBorderless]="!field?.editable" type="text"></textarea>
              </ng-template>
              <ng-template ngSwitchDefault>
                <input formControlName="{{field.name}}" nz-input id="{{field.name}}" [readonly]="!field?.editable" [nzBorderless]="!field?.editable"/>
              </ng-template>
            </div>
          </nz-form-control>
      </nz-form-item>
    </form>
    <nz-tabset nzType="card">
      <nz-tab *ngFor="let detail of metaData.details" [nzTitle]="detail.label">
        <table-data [metaUrl]=detail.metaUrl [masterObjectComponent]="this" [masterId]="data[metaData.key]"/>
      </nz-tab>
    </nz-tabset>
  </ng-container>
</nz-modal>
