<nz-modal
  nzDraggable
  [nzWidth]="1000"
  nzTitle="Form edit"
  [(nzVisible)]="isVisible"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <form #form nz-form [formGroup]="formGroup">
      <nz-form-item *ngFor="let field of metaData.fields">
          <nz-form-label *ngIf="!field.hidden" [nzSm]="6" [nzXs]="24" nzRequired nzFor="{{field.name}}">{{ field.label }}</nz-form-label>
          <nz-form-control *ngIf="!field.hidden" [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
            <div *ngIf="!field.hidden" [ngSwitch]="field.type.name">
              <ng-template ngSwitchCase="lookup">
                <lookup-data formControlName="{{field.name}}" [row]="data" [field]="field"/>
              </ng-template>
              <ng-template ngSwitchCase="date">
                <nz-date-picker formControlName="{{field.name}}" nz-input id="{{field.name}}" nzFormat="{{field.type.format}}"/>
              </ng-template>
              <ng-template ngSwitchDefault>
                <input formControlName="{{field.name}}" nz-input id="{{field.name}}" [readonly]="!field?.editable" [nzBorderless]="!field?.editable"/>
              </ng-template>
            </div>
          </nz-form-control>
      </nz-form-item>
    </form>
    <nz-tabset nzType="card">
      <nz-tab *ngFor="let detail of metaData.details" [nzTitle]="detail.label">
        <table-data [metaUrl]=detail.metaUrl [masterObjectComponent]="this" [masterId]="data[metaData.key]"/>
      </nz-tab>
    </nz-tabset>
  </ng-container>
</nz-modal>
