<report-component #rep/>
<nz-modal
  nzDraggable
  nzCentered
  [nzWidth]="1100"
  nzTitle="Form edit"
  [nzFooter]="modalFooter"
  [(nzVisible)]="isVisible"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <form #form nz-form [formGroup]="formGroup">
      @for (field of metaData.fields; track field) {
        <nz-form-item>
          @if (!field.hidden) {
            <nz-form-label [nzSm]="6" [nzXs]="24" [nzRequired]="field?.validation?.required" nzFor="{{field.name}}">{{ field.label }}</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="field?.validation?.message">
              @switch (field.type.name) {
                @case (FieldTypeName.LOOKUP) {
                  <lookup-component formControlName="{{field.name}}" [row]="data" [field]="field" [parentForm]="this"/>
                }
                @case (FieldTypeName.DATE) {
                  <date-component formControlName="{{field.name}}" [row]="data" [field]="field" [format]="field.type.format" [parentForm]="this"/>
                }
                @case (FieldTypeName.NUMBER) {
                  <input formControlName="{{field.name}}" nz-input id="{{field.name}}" [readonly]="!field?.editable" [nzVariant]="field?.editable ? 'outlined' : 'borderless'" type="number"/>
                }
                @case (FieldTypeName.TEXT) {
                  <input formControlName="{{field.name}}" nz-input id="{{field.name}}" [readonly]="!field?.editable" [nzVariant]="field?.editable ? 'outlined' : 'borderless'"/>
                }
                @default {
                  <input formControlName="{{field.name}}" nz-input id="{{field.name}}" [readonly]="!field?.editable" [nzVariant]="field?.editable ? 'outlined' : 'borderless'"/>
                }
              }
            </nz-form-control>
          }
        </nz-form-item>
      }
    </form>
    <nz-tabs nzType="card">
      @for (detail of metaData.details; track detail) {
        <nz-tab [nzTitle]="detail.label">
          <table-component [metaUrl]=detail.metaUrl [masterObjectComponent]="this" [masterId]="data[metaData.key]"/>
        </nz-tab>
      }
    </nz-tabs>
  </ng-container>
  <ng-template #modalFooter>
    @if (metaData.reports) {
      <nz-select [(ngModel)]="selectedPrintUrl">
        @for (rep of metaData.reports; track rep) {
          <nz-option nzValue="{{rep.url}}" nzLabel="{{rep.label}}"></nz-option>
        }
      </nz-select>
    }
    @if (metaData.reports) {
      <button nz-button nzType="default" (click)="report(data[metaData.key], selectedPrintUrl)">
        <span nz-icon nzType="printer" nzTheme="outline"></span>Report
      </button>
    }
    <button nz-button nzType="default" (click)="handleCancel()">
      <span nz-icon nzType="undo" nzTheme="outline"></span>Close
    </button>
    <button nz-button nzType="primary" (click)="handleOk()">
      <span nz-icon nzType="save" nzTheme="outline"></span>Save
    </button>
  </ng-template>
</nz-modal>
