<nz-layout>
  <nz-sider>
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li *ngFor="let menu of menuList" nz-submenu nzOpen nzTitle="{{menu.title}}" nzIcon="form">
        <ul>
          <li *ngFor="let route of menu.routes" nz-menu-item nzMatchRouter>
            <a routerLink="{{route.path}}">{{ route.title }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-content>
    <div class="inner-content">
      <!--      <button nz-button (click)="logout()">Logout</button>-->
      <!--      <nz-divider></nz-divider>-->
      <router-outlet></router-outlet>
    </div>
  </nz-content>
</nz-layout>
