<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar">
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Table with lookup" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/menu1">Menu 1</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/menu2">Menu 2</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Invoice example" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/menu3">Menu 3</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/product">Products</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/customer">Customers</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
