<nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
  <input type="text" nz-input placeholder="lookup" value="{{row[this.field.name]?.[field.type.valFieldName]}}" readonly/>
</nz-input-group>
<ng-template #suffixIconButton>
  <button (click)="openDialog()" nz-button nzType="default" nzSearch nz-tooltip nzTooltipTitle="lookup">
    <span nz-icon nzType="select"></span>
  </button>
  <nz-modal
    [nzWidth]="1100"
    nzDraggable
    nzTitle="Select"
    [(nzVisible)]="isDialogVisible"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk(lookupTable.getFirstSelected(this, row, field))">
    <ng-container *nzModalContent>
      <table-data #lookup_table metaUrl="{{field.type.metaUrl}}" [forSelectKeyValue]="row[this.field.name]?.[field.type.keyFieldName]" [showSelect]="true"/>
    </ng-container>
  </nz-modal>
</ng-template>
