.action-icons {
  color: #1890ff;
  /*color: var(--ant-info-color);*/
}

.action-th {
  width: 0;
}

.table-operations > [nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

.tree {
  margin-bottom: 10px;
  padding: 10px;
  height: 250px;
  overflow: auto;
  border: 1px solid #f0f0f0;
}
