.action-icons {
  color: #1890ff;
  /*color: var(--ant-info-color);*/
}

.action-th {
  width: 0;
}

.table-operations > [nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

.table-tree-splitter {
  height: calc(100vh - 160px);
  border: 1px solid #f0f0f0;
}

.table-panel {
  height: 100%;
  overflow: auto;
  padding: 8px;
}
